*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(circle at 50% 3%, rgb(95, 95, 95) 10%,  rgb(0, 0, 0) 70%) fixed;
}
.container, header{
    margin:auto;
    max-width: 56rem;
}
.unpress{
    box-shadow: inset 0px 3px 5px #7c7c7c,
                    0px 5px 5px black;
    background-color: rgba(0,0,0,.6);
}
.press{
    box-shadow: inset 0px 13px 20px black;
}
.press:hover{
    transform: scale(.95);
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: black;
    width: 20px;
}
/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    border: 3px solid rgb(206, 206, 206);
    background-color: #111;
    border-radius: 10px;
}