header .container{
    padding: .1rem 0;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}
header .container img{
    width: 15%;
}
#cards{
    padding: 2rem 0rem;
}
#cards .container{
    grid-template-columns: repeat(1, 1fr);
}
#cards .container .card{
    margin:auto;
}